@page "/"

<PageTitle>Home</PageTitle>

<div class="home-page">
	<h1>HamburguerDev Frontend</h1>

	<p>Acesse os modulos principais.</p>

	<div class="acoes-home">
		<a href="/pedidos" class="btn btn-primary">Abrir pedidos</a>
		<a href="/cardapio" class="btn btn-outline-primary" target="_blank" rel="noopener noreferrer">Abrir cardapio</a>
	</div>
</div>
